<header>
  <nav class="navbar navbar-expand-md bg-secondary text-light">
    <i class="fa-solid fa-arrows-to-circle px-1"></i>
    <a class="navbar-brand text-light" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-light">
        <a class="nav-item nav-link text-light" href="/urls">My URLs</a>
        <a class="nav-item nav-link text-light" href="/urls/new">New URL</a>
        <% if(!user) { %>
          <a class="nav-item nav-link text-light" href="/register">Register</a>
        <% } %>
      </div>
    </div>

    <% if(!user) { %>
      <form class="form-inline" action="/login" method="GET">
        <div class="form-group mb-04">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form></div>
    <% } else {%>
    <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-04">
        <label class = "mr-5">Logged in as: <%= user.email %> </label>
        <button type="submit" class="btn btn-dark ">Logout</button>
      </div>
    </form></div>
    <% }%>
  </nav>
</header>